.space {
  text-decoration: none;
  border: 1px solid #41dcd3;
  background-color: white;
  font-size: 14px;
  line-height: 28px;
  padding: 0 30px;
  border-radius: 30px;
  height: 34px;
  margin: 7px 10px;
  color: black;
  font-family: "Quantico", sans-serif;

  &:hover {
    background-color: #f1fff8;
  }
}