body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1110px;
    margin: auto;
}

label, input {
    cursor: pointer;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Quantico', sans-serif;
}

button {
    outline: none;
    border: none;
}

.deleting {
    margin: 0;
    padding: 0;
}